{{#if data.message}}

{{#if data.fileName}}
<img id="team-crest" src="/team-crest/{{data.fileName}}" />
{{else if data.crestUrl}}
<img src="{{data.crestUrl}}" alt="soccer-crest" width="150px" height="150px"/>
{{else if data.crestFileName}}
<img src="/team-crest/{{data.crestFileName}}" alt="soccer-crest" width="150px" height="150px"/>
{{/if}}

<h1>{{data.name}}</h1>
<p>ID: {{data.id}}</p>
<p>Web site: {{data.website}}</p>
<p>email: {{data.email}}</p>
<p>Foundation Year: {{data.foundationYear}}</p>
<p>Colors: {{data.colors}}</p>
<p>Venue: {{data.venue}}</p>

<p>{{data.message}}</p>
<a href="/">Return to main</a>

{{else}}


<div class="container">
<form action="/modify" method="POST" enctype="multipart/form-data">
  {{#if data.crestUrl}}
    <td><img src="{{data.crestUrl}}" alt="soccer-crest" width="150px" height="150px"/></td>
  {{else}}
      <td><img src="/team-crest/{{data.crestFileName}}" alt="soccer-crest" width="150px" height="150px"/></td>
  {{/if}}

  <label for="crest">New Team Crest </label>
  <input type="file" name="crest" id="crest">

  <label for="name">Team Name </label>
  <input type="text" name="name" id="name" value="{{data.name}}"/>

  <label for="id">ID (three letters)</label>
  <input type="text" name="id" id="id" value="{{data.tla}}" readonly/>

  <label for="website">Web site</label>
  <input type="text" name="website" id="website" value="{{data.website}}"/>

  <label for="email">Email</label>
  <input type="text" name="email" id="email" value="{{data.email}}"/>

  <label for="foundation-year"> Foundation Year </label>
  <input type="number" name="foundation-year" id="foundation-year" value="{{data.founded}}"/>

  <label for="colors"> Colors </label>
  <input type="text" name="colors" id="colors" value="{{data.clubColors}}"/>

  <label for="venue"> Venue </label>
  <input type="text" name="venue" id="venue" value="{{data.venue}}"/>

  <input type="submit" value="Modify" />
</form>

<form action="/" method="POST" enctype="multipart/form-data">
<input type="text" name="id" id="id" value="{{data.tla}}" readonly style="display: none;"/>
<input type="submit" value="Delete Team" />
</form>

</div>
{{/if}}