{{#if data.message}}

<div class="container-sm" style="width: 60%;">

<div class="container-sm">
  <h1 class="text-center"> {{data.name}} </h1>
  </br>
  <div class="row">
    <div class="col-sm">
    {{#if data.fileName}}
    <img id="team-crest" src="/team-crest/{{data.fileName}}" width="500px" height="250px"/>
    {{/if}}
    </div>
    <div class="col-sm">
      <ul class="list-group">
        <li class="list-group-item"> ID: {{data.id}}</li>
        <li class="list-group-item"> Website: {{data.website}}</li>
        <li class="list-group-item"> Email: {{data.email}}</li>
        <li class="list-group-item"> Foundation Year: {{data.foundationYear}}</li>
        <li class="list-group-item"> Colors: {{data.colors}}</li>
        <li class="list-group-item"> Venue: {{data.venue}}</li>
      </ul>
    </div>
  </div>
</div>
  <p>{{data.message}}</p>
  <button class="btn btn-primary" onclick="window.location.href = '/'">Return to main</button>
  <button class="btn btn-primary" onclick="window.location.href = '/new-team'">Create another team</button>
</div>






{{else}}

<div class="container-sm">
<h1>Create a new team</h1>

<form action="/new-team" method="POST" enctype="multipart/form-data">
<div class="mb-3">
  <label for="name" class="form-label">Team Name </label>
  <input type="text" name="name" id="name" value="Boca Juniors" class="form-control"/>
</div>
<div class="mb-3">
  <label for="id">ID (three letters)</label>
  <input type="text" name="id" id="id" value="BOC" class="form-control"/>
</div>
<div class="mb-3">
  <label for="website">Web site</label>
  <input type="text" name="website" id="website" value="https://www.bocajuniors.com.ar/" class="form-control"/>
</div>
<div class="mb-3">
  <label for="email">Email</label>
  <input type="text" name="email" id="email" value="marketing@bocajuniors.com.ar" class="form-control"/>
</div>
<div class="mb-3">
  <label for="foundation-year"> Foundation Year </label>
  <input type="number" name="foundation-year" id="foundation-year" value="1905" class="form-control"/>
</div>
<div class="mb-3">
  <label for="colors"> Colors </label>
  <input type="text" name="colors" id="colors" value="Blue / Gold" class="form-control"/>
</div>
<div class="mb-3">
  <label for="venue"> Venue </label>
  <input type="text" name="venue" id="venue" value="La Bombonera" class="form-control"/>
</div>
<div class="mb-3">
  <label for="crest">Team Crest </label>
  <input type="file" value="No file uploaded" name="crest" id="crest" class="form-control">
</div>
<div class="mb-3">
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
</div>
{{/if}}
