
<div class="container">
  <h1> {{data.name}} </h1>
  {{#if data.crestUrl}}
    <td><img src="{{data.crestUrl}}" alt="soccer-crest" width="150px" height="150px"/></td>
  {{else}}
      <td><img src="/team-crest/{{data.crestFileName}}" alt="soccer-crest" width="150px" height="150px"/></td>
  {{/if}}
  <ul>
      <li> Website: {{data.website}}</li>
      <li> Email: {{data.email}}</li>
      <li> Foundation Year: {{data.foundationYear}}</li>
      <li> Colors: {{data.colors}}</li>
      <li> Venue: {{data.venue}}</li>
  </ul>
</div>