
<div class="container">
  <h1> {{data.name}} </h1>
  <img src="{{data.crestUrl}}"/>
  <ul>
      <li> Website: {{data.website}}</li>
      <li> Email: {{data.email}}</li>
      <li> Foundation Year: {{data.foundationYear}}</li>
      <li> Colors: {{data.colors}}</li>
      <li> Venue: {{data.venue}}</li>
  </ul>
</div>